/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.card {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem;
  background-color: grey;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  touch-action: manipulation;
}

.card.empty {
  background-color: transparent;
}

